
.Pixels .pixel-holder .single-pixel
{
    width: 80px;
    height: 80px;
    border: solid 1px #2F4F4F;
    border-radius: 15%;
}

.Pixels .pixel-holder .single-pixel .inner-holder
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #2F4F4F;
    padding-top: 10px;
}

.Pixels .pixel-holder .single-pixel .inner-holder .small-pixel
{
    width: 17px;
    height: 17px;
    border: solid 1px #2F4F4F;
    border-radius: 15%;

    display: flex;
    align-items: center;
}